body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #3acc39;
}

canvas {
  position: absolute;
}

#video {
  width: 700px; /*  Mengatur lebar menjadi 700px */
  height: 700px; /* Mengatur tinggi menjadi 700px */
  object-fit: cover; /*Memastikan konten video pas dengan kotak yang ditengah */
}

#CN{
    width: 100px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: auto; /* Menjaga aspek rasio gambar */
    position: absolute;
    top: 0;
    left: 0;
}

#PPLG{
  width: 100px; /* Sesuaikan ukuran sesuai kebutuhan */
  height: auto; /* Menjaga aspek rasio gambar */
  position: absolute;
  top: 0;
  right:  0;
}
